{% extends 'base.html' %}
{% load bootstrap4 %}
    {% block content %}
    <hr class="mt-5">
      <div class="container-fluid" style="font-size: 20px; font-family: 'Merienda', cursive;">
            <div class="row">
                <div class="col-md-4">
                  <div class="profile-img">
                    <img class="profile-image" src="{{ diary.author.profile.image.url }}" alt="img" height="200px" style="border-radius: 50%;">
                  </div>
                  <div class="diary-author">
                    <h2 class="account-header mb-2">{{diary.author}}</h2>
                  </div>
                </div>
                <div class="col-md-4">
                  <h1 class="ml-3">Diary Title</h1>
                  <hr>
                  <p class="mt-5 ml-5">{{diary.title}}<p><br>
                  <h1 class="ml-3">To-Do List</h1>
                  <hr>
                  <p class="mt-2"> {{diary.description}}</p>
                  <hr>
                  <h4 class="text-info">Posted On: {{diary.created_date}}</h4>
                </div>
            </div>
        </div>
    {% endblock %}